@model AspDotNetMvcOracle.Models.EmployeeModel
<div class="row">
    <div class="col-6">
        <h2>Add Employee</h2>
        @using (Html.BeginForm("CreateEmployee", "Home", FormMethod.Post))
        {
            <div class="form-group">
                <label>Name</label>
                @Html.TextBoxFor(m => m.Name, new {@class = "form-control"})
            </div>
            <div class="form-group">
                <label>Department</label>
                @Html.TextBoxFor(m => m.Department, new {@class = "form-control"})
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        }
    </div>
</div>